.Board {
  margin: 0 auto;
  box-shadow: 0px 0px 40px 5px #e372fc, 0px 0px 35px 3px #59a9f0,
    0px 0px 37px 5px #5c0166;
}

.title {
  margin-top: 2px;
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
}
h1 .l {
  font-size: 3em;
  color: red;
  opacity: 0.8;
  text-shadow: 3px 3px 4px #5a61e6;
  animation: light;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes light {
  0% {
    text-shadow: 3px 3px 1px #5a61e6, 3px 3px 4px #f72fdd, 3px 3px 1px #4affb1;
  }
  50% {
    text-shadow: 3px 3px 8px #f22e97, 3px 3px 8px #4affb1;
  }

  100% {
    text-shadow: 3px 3px 1px #5a61e6, 3px 3px 1px #4affb1;
  }
}
h1 .o {
  font-size: 3em;
  color: #f505b9;
  text-shadow: 3px 3px 4px #9877e6;
  animation: out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes out {
  0% {
    text-shadow: 3px 3px 1px #5a61e6, 3px 3px 4px #f72fdd, 3px 3px 1px #4affb1;
  }
  50% {
    text-shadow: 3px 3px 8px #f22e97, 3px 3px 8px #4affb1;
  }

  100% {
    text-shadow: 3px 3px 1px #5a61e6, 3px 3px 1px #4affb1;
  }
}
.won {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
}
